// Брейкопойнты
$tablet-max-width: 1023px;
$mobile-max-width: 767px;

// Цвета
$text-color-base: #000000;

$background-color-base: #ffffff;

// Шрифты
$openSans: "OpenSans", "Arial", sans-serif;
$arial: "Arial", sans-serif;

$shadow-animation: 0.2s box-shadow ease-in;
